html {
box-sizing: border-box;}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background: rgb(150, 251, 150);
}

.intro {
    text-align: center;
    color: #02455e;  
}

.celebrity_scratch-off {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.scratchOff-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.scratch-card {
    position: relative;
    display: inline-block; /* Ensure the container only takes as much space as needed */
    width: 12rem; /* Set a fixed width for the container */
    height: 12rem; /* Set a fixed height for the container */
    margin: 0.625rem; /* Add margin to separate the cards */
    box-shadow: 0 10px 13px -7px rgba(0,0,0,.4), 0 0 5px 2px transparent;
    cursor: crosshair;
    
}

.scratch-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%; /* Make the canvas cover the entire container */
    border: black solid 1px;
    height: 120%;
    box-shadow: 0 10px 13px -7px rgba(0,0,0,.4), 0 0 5px 2px transparent;

}

.scratch-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%; /* Make the image cover the entire container */
    height: 100%;
}

.celebrity-info {
    text-align: center;
    color: #02455e; ;
    font-weight: bold;
}
